* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.box-1,
.box-2,
.box-3 {
  height: 300px;
  width: 300px;
  border-radius: 10px;
  background-color: rgba(219, 219, 219, 0.844);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 1000px) {
  /*element that you want to affect.*/
  .box-1,
  .box-2,
  .box-3 {
    height: 100%;
    width: 100%;
  }
}
.flex-wedi {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
  gap: 10px;
}
@media (max-width: 1000px) {
  /*element that you want to affect.*/
  .flex-wedi {
    flex-direction: column;
    background-color: rgb(18, 18, 18);
    height: 100%;
    padding: 10px;
  }
}
.box-1 img,
.box-2 img,
.box-3 img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  object-fit: cover;
}

@media (max-width: 1000px) {
  /*element that you want to affect.*/
  .box-1 img,
  .box-2 img,
  .box-3 img {
    height: 80%;
    width: 80%;
  }
}
.box-col{
  border: 3px solid black;
  height: 300px;
  border-radius: 10px;
}
.box-col img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
}
